<!-- Generated template for the EconomicsFlashCardComponent component -->
<div class="flip-container" [class.flipped]="flipped">
    <div class="flipper">
        <div class="front">
            <ng-content select=".retirement-flash-card-front"></ng-content>
        </div>
        <div class="back">
            <ng-content select=".retirement-flash-card-back"></ng-content>
        </div>
    </div>
</div>


<ion-grid class="multi-choice-row" (click)="flip()" [class.flipped]="flipped">
  <ion-row>
   <ion-col>
     <ng-content select=".multi-box-1"></ng-content>
   </ion-col>
   <ion-col>
     <ng-content select=".multi-box-2"></ng-content>
   </ion-col>
      <ion-col>
     <ng-content select=".multi-box-3"></ng-content>
   </ion-col>
      <ion-col>
     <ng-content select=".multi-box-4"></ng-content>
   </ion-col>
  </ion-row>
</ion-grid>